<h1>Login</h1>
<hr>
<br>
<form action="/usuario/login" method="post">
<div class="card">
    <div class="card-body">
        <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control">
        <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" class="form-control"><br>
        <button type="submit" class="btn btn-success">Entrar</button>
    </div>
</div>
</form>